---
const {
  overskrift,
  navn1,
  navn2,
  navn3,
  navn4,
  navn5,
  navn6,
  navn7,
  navn8,
  navn9,
  navn10,
} = Astro.props;

import Cta2 from "../components/cta2.astro";
import Cta3 from "../components/cta3.astro";
---

<div class="parent">
  <article id="vaelg_bidrag" class="bidrag_web">
    <h3>{overskrift}</h3>
    <section class="grid">
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn1}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn2}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn3}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn4}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn5}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn6}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn7}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn8}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />

        <p>{navn9}</p>
      </div>
      <div>
        <input
          type="checkbox"
          style="width: 20px; height: 20px; margin-left: 9.5vw; margin-top: 1.95vw;"
        />
        <p>{navn10}</p>
      </div>
    </section>
    <div class="button">
      <Cta2 id="knap1" button="NÆSTE" />
    </div>
  </article>

  <form id="personlig_data">
    <input
      type="text"
      id="name"
      name="name"
      required
      placeholder="Fulde navn"
    />

    <input
      type="tel"
      id="phone"
      name="phone"
      required
      placeholder="Telefonnummer"
    />

    <input type="email" id="email" name="email" required placeholder="Email" />

    <input type="text" id="zip" name="zip" required placeholder="Postnummer" />

    <div class="checkbox-container">
      <input
        type="checkbox"
        id="friend"
        name="friend"
        style="width: 20px; height: 20px; margin-left: 0.5vw; margin-right: 3.5vw;"
      />
      <label for="friend">Tilmeld med en ven</label>
    </div>

    <input
      type="text"
      id="friend-name"
      name="friend-name"
      placeholder="Navn på din ven"
    />

    <div class="button-container">
      <Cta3 id="knap_tilbage" button="TILBAGE" type="button" class="back" />
      <Cta2 id="knap_indsend" button="INDSEND" type="submit" class="submit" />
    </div>
  </form>

  <article id="takkeside">
    <h2>Tak for dit indput</h2>
    <p>Vi glæder os til at se dig gøre en forskel!</p>
  </article>
</div>

<style>
  .parent {
    background-color: #0076f1;
    height: 650px;
    width: 100%;
    overflow-x: hidden;
  }

  form {
    background-color: #0076f1;
    color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-bottom: 2rem;
    padding-inline-end: 800px;
    margin-top: 70px;
    margin-right: 50px;
    max-width: 100%;
  }
  input {
    background-color: #0076f1;
  }

  input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1.5px solid white;
    color: white;
    font-size: 19px;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 85%;
    /* padding-left: 40px; */
  }

  input::placeholder {
    color: white;
    width: 100%;
  }

  .checkbox-container {
    display: flex;
    margin-top: 70px;
    font-size: 19px;
  }

  .checkbox-container input {
    margin-right: 10px;
  }

  .button-container {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 30px;
    gap: 40px;
    justify-content: center;
  }

  .parent {
    position: relative;
    margin-bottom: 20vw;
    background-color: #0076f1;
  }

  #vaelg_bidrag,
  #personlig_data,
  #takkeside {
    background-color: #0076f1;
    position: absolute;
    width: 100%;
    margin: 0;
  }

  #takkeside {
    text-align: center;
  }

  article {
    background-color: #0076f1;
    color: white;
    padding-top: 4vw;
    padding-bottom: 4vw;
    justify-content: center;
  }

  article p {
    font-size: 5rem;
  }

  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #0076f1;
  }
  div p {
    grid-column: 2 / span 3;
    font-size: 3vw;
  }
  h3 {
    margin: auto;
    margin-bottom: 5vw;
    text-align: center;
    font-size: 5vw;
    padding-top: 1rem;
  }

  .button {
    text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .hide {
    visibility: hidden;
  }

  @media screen and (min-width: 768px) {
    /* article {
      padding-top: 1.8vw;
      padding-bottom: 4vw;
      justify-content: center;
    } */

    /* div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-left: 4vw;
      padding-top: 0rem;
    } */

    /* div p {
      font-size: 1.2vw;
    } */

    /* h3 {
      margin: auto;
      margin-bottom: 0.5vw;
      text-align: center;
      font-size: 1.9vw;
      padding-top: 1rem;
    } */

    .button {
      text-align: center;
    }

    .button {
      display: flex;
      justify-content: center;
      /* padding-top: 0.5rem; */
      /* display: none; */
    }

    input {
      width: 95%;
    }
  }
  @media (min-width: 760px) {
    div p {
      font-size: 1.6vw;
    }
  }

  @media screen and (min-width: 768px) {
    form {
      /* max-width: 500px; */
      padding-bottom: 0rem;
      display: block;
    }

    #personlig_data {
      padding: 0;
      padding-left: 30px;
      padding-right: 150px;
    }

    .parent {
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    #vaelg_bidrag h3 {
      font-size: 2vw;
      margin-top: 20px;
    }

    #vaelg_bidrag {
      padding: 0;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
    }
  }
</style>

<script>
  window.addEventListener("load", start);

  const bidrag = document.querySelector("#vaelg_bidrag");
  const data = document.querySelector("#personlig_data");
  const takkeside = document.querySelector("#takkeside");
  const knap1 = document.querySelector("#knap1");
  const knap_tilbage = document.querySelector("#knap_tilbage");
  const knap_indsend = document.querySelector("#knap_indsend");

  function start() {
    hideAllScreens();
    console.log("hallog");
    bidrag?.classList.remove("hide");
    knap1?.addEventListener("click", side2);
  }

  function hideAllScreens() {
    console.log("niuu");
    bidrag?.classList.add("hide");
    data?.classList.add("hide");
    takkeside?.classList.add("hide");
  }

  function side2() {
    console.log("side2");
    hideAllScreens();
    bidrag?.classList.add("hide");
    data?.classList.remove("hide");
    knap_tilbage?.addEventListener("click", start);
    knap_indsend?.addEventListener("click", tak);
  }

  function tak() {
    hideAllScreens();
    data?.classList.add("hide");
    takkeside?.classList.remove("hide");
  }
</script>
